# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Android build & cache
android/build/
android/.gradle/
android/*.iml
android/.cxx/

# iOS build & cache
ios/Build/
ios/Pods/
ios/*.xcworkspace
ios/DerivedData/

# Node & JS outputs
node_modules/
build/
dist/

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
*.keystore
# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# local-expo-build
keystore.properties
credentials.json

# Code signing private key (server-side secret, never commit it)
private-key.pem
